#app {
  padding: var(--padding-small);
  text-align: center;
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  font-weight: bold;
  font-family: var(--font-family);
}

label {
  font-weight: bold;
  color: var(--medium-emphasis-color);
}

section {
  font-weight: bold;
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--one-dp-color);
  box-shadow: var(--drop-shadow);
}

.section-small {
  padding: var(--padding-small);
}

.section-large {
  padding: var(--padding-large);
  font-size: var(--text-size-large);
}

.button-normal {
  font-size: var(--text-size-small);
  padding: var(--padding-small);
  margin: var(--margin);
}

.button-large {
  padding: var(--padding-large);
  font-size: var(--text-size-large);
}

.options-section {
  margin: var(--margin) auto;
  width: var(--options-section-width);
}

.options-label {
  display: block;
  font-size: var(--text-size-small);
}

.options-input {
  font-size: var(--text-size-regular);
  text-align: center;
  color: var(--foreground-color);
  border: none;
  border-radius: var(--border-radius);
  background: var(--six-dp-color);
  padding: var(--padding-small);
  appearance: textfield;
  margin: var(--margin);
}

.options-input:focus:invalid {
  outline: var(--outline-invalid);
}

.options-input:focus:valid {
  outline: var(--outline-valid);
}

#theme-switch {
  position: absolute;
  top: var(--margin);
  right: var(--margin);
  font-size: 1.1vw;
}

#tuning-input {
  width: calc(var(--options-section-width) * 0.85);
}

#notes-display-format-select-wrapper,
#fret-range-input-wrapper {
  display: inline-block;
  padding-right: var(--padding-large);
}

.fret-range-input {
  width: calc(var(--options-section-width) * 0.12);
  margin: var(--margin);
}

#note-grid-section,
#note-staff-section {
  margin: var(--margin);
  padding-top: 0;
}

#note-grid-label,
#note-staff-label {
  font-size: var(--text-size-large);
}

#note-grid {
  gap: 1.4vw;
}

#note-grid,
#note-staff-section,
#pitch-meter-wrapper {
  display: grid;
  justify-items: center;
}

#note-staff-label {
  grid-area: 1 / 1;
}

.note-staff-canvas {
  grid-area: 2 / 1;
  width: 96vw;
  height: 28.5vw;
}

#current-note-wrapper {
  display: inline-block;
  margin: var(--margin);
  vertical-align: bottom;
}

#current-note-section {
  font-size: var(--text-size-large);
}

#pitch-meter-and-certainty-section {
  display: inline-block;
  vertical-align: bottom;
  margin: var(--margin) 10vw;
  width: calc(var(--pitch-meter-width) * 1.1);
}

#pitch-meter-label {
  grid-area: 1 / 1;
  font-size: var(--text-size-regular);
}

.pitch-meter-canvas {
  grid-area: 2 / 1;
  width: var(--pitch-meter-width);
  height: var(--pitch-meter-height);
  border-radius: var(--border-radius);
  margin: var(--margin);
}

#certainty-input-label {
  display: inline;
  padding-right: var(--padding-large);
}

#certainty-input {
  width: calc(var(--options-section-width) * 0.16);
}

#start-button {
  margin: var(--margin) auto;
}

#stop-button {
  display: inline-block;
  margin: var(--margin);
  vertical-align: bottom;
}

#github-link {
  display: block;
  padding: var(--padding-large);
}
