:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {

  :root {
    --foreground-color: #121212;
    --background-color: #e4e4e4;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-color: #e4e4e4;
    --background-color: #121212;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--foreground-color);
  text-align: center;
  font-family: "Roboto Mono", "Droid Sans Mono", monospace;
}
